<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Doctors</title>
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h3>Doctors Directory</h3>
    <hr>
    <a th:href="@{/doctors/new}"
       class="btn btn-primary btn-sm mb-3">
        Add Doctor
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Appointments</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${doctors == null}">
            <td colspan="4"> No Doctors Available</td>
        </tr>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.firstName} + ' ' + ${doctor.lastName}"/>
            <td th:text="${doctor.getDepartment().getName()}"/>
            <td th:text="${doctor.countAppointments()}"/>
            <td>
                <a th:href="@{/doctors/update(id=${doctor.getId()})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                <a th:href="@{/doctors/delete(id=${doctor.getId()})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this doctor?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>