<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Add New Department</title>
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>

<div align="center" class="container">
    <form class="form-horizontal" th:action="@{/departments/save}" th:object="${department}" method="POST">
        <fieldset>

            <!-- Form Name -->
            <legend>Add New Department</legend>

            <!-- used for updates -->
            <input type="hidden" th:field="${department.id}">


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Name">Department Name</label>
                <div class="col-md-4">
                    <input id="Name" name="Name" type="text" placeholder="Name" class="form-control input-md" required="" th:field="${department.name}">

                </div>
            </div>



            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="SubmitButton"></label>
                <div class="col-md-4">
                    <button id="SubmitButton" name="SubmitButton" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>

</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>