<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <title>Home</title>

    <!--Moment-->
    <script type="text/javascript" th:src="@{/js/moment.js}"></script>
    <!--FullCalendar-->
    <script type="text/javascript" th:src="@{/js/fullcalendar.js}"></script>
    <!-- Fullcalendar CSS -->
    <link rel="stylesheet" th:href="@{/css/fullcalendar.css}"/>

</head>

<body>

<nav th:replace="layouts :: navbar"></nav>


<div class="row mt-3">
    <div class="col">

    </div>
    <div class="col-10">
        <div id='calendar'></div>
    </div>
    <div class="col">

    </div>
</div>

<script th:inline="javascript">
    $(function () {
        $('#calendar').fullCalendar({
            defaultView: 'agendaWeek',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek'
            },
            allDaySlot: false,
            minTime: "09:00:00",
            maxTime: "17:00:00",
            timeFormat: 'HH:mm', // uppercase H for 24-hour clock,
            firstDay: 1,
            resources: '/api/appointments/all'

            // eventSources: [
            //
            //     {
            //         url: '/api/appointments/all',
            //         color: 'yellow',
            //         textColor: 'black'
            //
            //     }
            // ]
        })

    });
</script>
</body>
</html>