<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Confirm Appointment</title>
</head>

<body>

<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a href="/" class="navbar-brand">Scheduler</a>
                </div>

                <div class="navbar-collapse collapse" id="mobile_menu">
                    <ul class="nav navbar-nav">
                        <!--                        <li class="active"><a href="/">Home</a></li>-->
                        <!--                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>-->
                        <!--                            <ul class="dropdown-menu">-->
                        <!--                                <li><a href="#">About One</a></li>-->
                        <!--                                <li><a href="#">About Two</a></li>-->
                        <!--                                <li><a href="#">About Three</a></li>-->
                        <!--                                <li><a href="#">About Four</a></li>-->
                        <!--                                <li><a href="#">About Five</a></li>-->
                        <!--                                <li><a href="#">About Six</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </li>-->
                        <li><a href="/appointments">Appointments</a></li>
                        <li><a href="/patients">Patients</a></li>
                        <li><a href="/doctors">Doctors</a></li>
                        <li><a href="/departments">Departments</a></li>
                    </ul>
                    <!--                    <ul class="nav navbar-nav">-->
                    <!--                        <li>-->
                    <!--                            <form action="" class="navbar-form">-->
                    <!--                                <div class="form-group">-->
                    <!--                                    <div class="input-group">-->
                    <!--                                        <input type="search" name="search" id="" placeholder="Search Anything Here..." class="form-control">-->
                    <!--                                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>-->
                    <!--                                    </div>-->
                    <!--                                </div>-->
                    <!--                            </form>-->
                    <!--                        </li>-->
                    <!--                    </ul>-->

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">Sign Up</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div align="center" class="container">
    <form class="form-horizontal" th:action="@{/appointments/save}" th:object="${appointment}" method="POST">
        <fieldset>

            <!-- Form Name -->
            <legend>Confirm New Appointment</legend>

            <!-- used for updates -->
            <input type="hidden" th:field="${appointment.id}">

            <input type="hidden" th:field="${appointment.scheduledDate}">
            <span th:text="'Scheduled date: ' + ${appointment.scheduledDate}"></span>
            <br>

            <input type="hidden" th:field="${appointment.status}">

            <input type="hidden" th:field="${appointment.doctor}">
            <span th:text="'Selected doctor: ' + ${appointment.doctor.getFirstName()} + ' ' + ${appointment.doctor.getLastName()}"></span>
            <br>

            <input type="hidden" th:field="${appointment.patient}">

            <span th:text="'Department: ' + ${appointment.doctor.getDepartment().getName()}"></span>
            <br>


            <div>
                <label>
                    <div th:switch="${availableSlots}">
                        <p th:case="null">No available slots for the selected day. Please choose another date!</p>
                    </div>
                    <select name="slot" th:field="*{scheduledTime}" multiple="multiple">
                        <option th:each="slot : ${availableSlots}"
                                th:value="${slot}"
                                th:text="${slot}">
                        </option>
                    </select>
                </label>
            </div>




            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="SubmitButton"></label>
                <div class="col-md-4">
                    <button id="SubmitButton" name="SubmitButton" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>



</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>