<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Appointments</title>
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>



<div class="container">
    <h3>Appointments Directory</h3>
    <hr>
    <a th:href="@{/appointments/new}"
       class="btn btn-primary btn-sm mb-3">
        Create Appointment
    </a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Doctor</th>
            <th>Department</th>
            <th>Patient</th>
            <th>Date & Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${appointments == null}">
            <td colspan="4"> No Appointments Available</td>
        </tr>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.getDoctor().getFirstName()} + ' ' + ${appointment.getDoctor().getLastName()}"/>
            <td th:text="${appointment.getDoctor().getDepartment().getName()}"/>
            <td th:text="${appointment.getPatient().getFirstName()} + ' ' + ${appointment.getPatient().getLastName()}"/>
            <td th:text="${appointment.getScheduledDate()} + '~' + ${appointment.getScheduledTime()}"/>
            <td th:text="${appointment.getStatus()}"/>
            <td>
                <div style="display: inline" th:if="${appointment.getStatus().toString()} == 'SCHEDULED'">
                <a th:href="@{/appointments/cancel(id=${appointment.getId()})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to cancel this appointment?'))) return false">
                    Cancel
                </a>
                </div>

                <div style="display: inline" th:if="${appointment.getStatus().toString()} == 'SCHEDULED'">
                <a th:href="@{/appointments/update(id=${appointment.getId()})}"
                   class="btn btn-info btn-sm">
                  Update
                </a>
                </div>

                <a th:href="@{/appointments/delete(id=${appointment.getId()})}"
                   class="btn btn-danger btn-sm"
                   onclick="if (!(confirm('Are you sure you want to delete this appointment?'))) return false">
                    Delete
                </a>
            </td>
        </tr>
        </tbody>

    </table>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>