<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Update Appointment</title>
</head>

<body>

<nav th:replace="layouts :: navbar"></nav>



<div align="center" class="container">
    <form class="form-horizontal" th:action="@{/appointments/save}" th:object="${appointment}" method="POST">
        <fieldset>

            <!-- Form Name -->
            <legend>Confirm Appointment</legend>

            <!-- used for updates -->
            <input type="hidden" th:field="${appointment.id}">

            <input type="hidden" th:field="${appointment.scheduledDate}">
            <span th:text="'Scheduled date: ' + ${appointment.scheduledDate}"></span>
            <br>

            <input type="hidden" th:field="${appointment.status}">

            <input type="hidden" th:field="${appointment.doctor}">
            <span th:text="'Selected doctor: ' + ${appointment.doctor.getFirstName()} + ' ' + ${appointment.doctor.getLastName()}"></span>
            <br>

            <input type="hidden" th:field="${appointment.patient}">

            <span th:text="'Department: ' + ${appointment.doctor.getDepartment().getName()}"></span>
            <br>


<!--            <input type="hidden" th:field="${appointment.scheduledTime}">-->

            <span th:text="'Selected time: ' + ${appointment.scheduledTime}"></span>
            <br>

<!--            <label>-->
<!--                <select name="status" th:field="${appointment.status}">-->
<!--                    <option th:each="status : ${T(com.example.scheduler21.entities.Status).values()}"-->
<!--                            th:value="${status}"-->
<!--                            th:text="${status}">-->
<!--                    </option>-->
<!--                </select>-->
<!--            </label>-->


            <div>
                <label>
                    <span th:switch="${availableSlots}">
                        <span th:case="null">No available slots for the selected day. Please choose another date!</span>
                    </span>
                    <select name="slot" th:field="*{scheduledTime}">
                        <option th:each="slot : ${availableSlots}"
                                th:value="${slot}"
                                th:text="${slot}">
                        </option>
                    </select>
                </label>
            </div>




            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="SubmitButton"></label>
                <div class="col-md-4">
                    <button id="SubmitButton" name="SubmitButton" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </fieldset>
    </form>



</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>